---
layout: default
---

<div id='container'>
  <div id='navigation-container'>
    <div class='navigation'>
      <div class='navigation-title'>Recent Books</div>
      <ul>
        <li>Ressurection</li>
        <li>Lion in the White House</li>
        <li>The Old Man of the Sea</li>
        <li>Moby Dick</li>
        <li>The Sun Also Rises</li>
        <li>Olive Kitteridge</li>
        <li>The Guernsey Literary and Potato Peel Pie Societ</li>
        <li>The Grapes of Wrath</li>
        <li>Killer Summer</li>
        <li>The Shadow of the Wind</li>
        <li>The Prince and the Pauper</li>
      </ul>
    </div>
  </div>
  
  <div id='content'>
    {{ content }}
  </div>
</div>
